<app-template-full-width [title]="myTitle" *ngIf="collection$ | async as collection">

  <app-table-light [headers]="headers">

    <tr *ngFor="let item of collection">
      <td>{{ item.name }}</td>
      <td>{{ item.totalCaHt | currency: 'EUR' }}</td>
      <td>{{ item.tva | currency: 'EUR' }}</td>
      <td>{{ item | total: true | currency: 'EUR' }}</td>
      <td [appState]="item.state">
        <select (change)="changeState(item, $event)">
          <option *ngFor="let state of states" [value]="state" [selected]="item.state === state">{{ state }}</option>
        </select>
      </td>
    </tr>

  </app-table-light>
  <app-btn label="add a client" route="add"></app-btn>
</app-template-full-width>
